<link rel="stylesheet" href="~/Content/homeIndex.css" />



@model PagedList.IPagedList<projetVideothequedf.Models.Films>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
    <p id="bars-recherche"  style="width:60em">
       <input type="text" name="SearchName" style="width:32em;height:2.5em" placeholder="Tapez votre recherche ici" /><input type="submit" value="Search" placeholder="" style="width:5em;height:2.5em;margin-right:2em" />
    </p>

}

<div style=" float:right; margin-right:29em;margin-top:-3em;">

    @using (Html.BeginForm("Index", "Home", FormMethod.Get))
    {
    <div class="form-group" style="float:left">
        
        <select class="form-control" id="sel1" name="genre">
            <option value="">Genre</option>
            <option value="Action">Action</option>
            <option value="Romance">Romance</option>
            <option value="Comedy">Comedy</option>
        </select>
    </div>
    <div style="float:right; margin-left:3em">
        <input type="number" min="1965" max="2021" name="year" placeholder="Année de sortie" style="width:10em;height:2.5em"/>

        <input type="submit" value="Filtrer" placeholder="" style="height:2.5em" />
    </div>
       
    }



</div>   
<table class="table table-striped">

    <thead>
        <tr>
            <th>titre</th>
            <th>poster</th>
            <th>duree</th>

            <th>note</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="3" style="color:red "></td>
            </tr>

        }
        else
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.titre</td>
                    <td><img src="@Url.Content(item.icon)" /></td>
                    <td>
                        @{
                           
                            int h = (int)(item.duree) / 60;
                            int m = (int)(item.duree) % 60;
                        }
                        @h h: @m

                    </td>

                    <td>@item.note</td>
                </tr>
                                }
                            }
    </tbody>
</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, currentFilter = ViewBag.CurrentFilter }))